@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=PT+Serif:wght@700&family=Roboto:wght@100&display=swap");

/*! Header Contents*/

/*List Styles*/

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}